        @media screen and (min-width:400px) and (max-width: 600px) {
            body {
                background-color: red;
            }
            .container1 {
                width: 250px;
                height: 250px;
                border: 1px solid black;
                padding-top: 20px;
                padding-left: 20px;
                box-shadow: 5px 5px 2px #b3b3b3;
                background-color: blue;
            }

            .Value_container {
                float: right; 
                border-color:transparent; 
                background-color: greenyellow;
                text-align: right;
                width: 50px;
            }
            
            .Units {
                float: right;
                border-color:transparent;
                width: 10px;
                background-color: greenyellow;
                margin-right: 5px;
                text-align: left;
            }
            
            .result_container {
                float: right;
                width: 150px;
                text-align: right;
                border-color: transparent;
                background-color: red;
            }    
        }
        
        .container {
            margin: 150px;
            width: 500px;
            height: 500px;
            border: 1px solid #b3b3b3;
            padding-top: 20px;
            padding-left: 20px;
            box-shadow: 5px 5px 2px #b3b3b3;
        }

        .Value_container {
            float: right; 
            border-color:transparent; 
            /*background-color: #E5FAF5;*/
            text-align: right;
            width: 75px;
            /*color: #00D09C;*/
        }

        .slider {
            width: 475px;
        }
        
        .Units {
            float: right;
            border-color:transparent;
            width: 15px;
            /*background-color: #E5FAF5;*/
            text-align: left;
            /*color: #00D09C;*/
        }

        .result_container {
            float: right;
            width: 120px;
            text-align: left;
            border-color: transparent;
            /*background-color: #E5FAF5;
            color: black;*/
            margin-right: 5px;
        }

        input[type="number"] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }